
@import "tailwindcss";

<<<<<<< Updated upstream
@media (min-width: 768px) and (max-width: 1214px) {
  .vida-cfp-width {
    min-width: 170px;
    max-width: 170px;
  }
}
=======

.texto1{
    font-family: "Work Sans", Sans-serif;
}
>>>>>>> Stashed changes
